<div id="sidebarMenu" data-uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
	        <li class="uk-active"><a href="#">Active</a></li>
	        <li class="uk-parent">
	            <a href="#">Parent</a>
	            <ul class="uk-nav-sub">
	                <li><a href="#">Sub item</a></li>
	                <li>
	                    <a href="#">Sub item</a>
	                    <ul>
	                        <li><a href="#">Sub item</a></li>
	                        <li><a href="#">Sub item</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </li>
	        <li class="uk-parent">
	            <a href="#">Parent</a>
	            <ul class="uk-nav-sub">
	                <li><a href="#">Sub item</a></li>
	                <li><a href="#">Sub item</a></li>
	            </ul>
	        </li>
	    </ul>

    </div>
</div>

<script src="js/main.min.js"></script>